@import "./base/mixins.scss";
@import "./base/variables.scss";
@import "./base/typography.scss";
@import "./base/base.scss";

@import "components/header";
@import "components/button";
@import "components/footer";
@import "components/hero-section";
@import "components/info-block";
@import "components/input";
@import "components/featured-items";

@import "components/blog/highlight-article";
@import "components/blog/newsletter";
@import "components/blog/article-intro";
@import "components/blog/article-overview";
@import "components/blog/article-components";
@import "components/blog-preview";

@import "components/events/signup-form";

@import "pages/blog"; 

@media (max-width: 56.25em) {
  .header {
    padding: 1rem 1.5rem !important;
    background: hotpink !important;
  }
}
