.article-headline {
  width: 100%;
  margin-bottom: 3rem;
}

.article-text-image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  &--reversed {
    flex-direction: row-reverse;
  }

  &--portrait {
    .article-text-image__container {
      width: 29%;
    }

    .article-text-image__text {
      width: 68%;
    }
  }

  &__text {
    width: 42%;
  }

  &__container {
    width: 55%;
  }

  &__image {
    width: 100%;
    height: auto;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__caption {
    color: #686868;
  }

  @include respond(tab-land) {
    flex-direction: column;
    gap: 2rem;

    &--portrait {
      .article-text-image__container {
        width: 100%;
      }

      .article-text-image__text {
        width: 100%;
      }
    }

    &__text {
      width: 100%;
    }

    &__container {
      width: 100%;
    }
  }

  @include respond(phone) {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    &--reversed {
      flex-direction: column;
    }

    &--portrait {
      .article-text-image__container {
        width: 100%;
      }

      .article-text-image__text {
        width: 100%;
      }
    }

    &__text {
      width: 100%;
    }

    &__container {
      width: 100%;
    }

    &__caption {
      font-size: 1.2rem;
    }
  }
}

.article-paragraph {
  margin-bottom: 6rem;

  & ul {
    margin-top: 2rem;

    & li {
      margin-left: 2rem;
    }
  }
}

.article-image {
  margin: 0 auto;
  width: 65%;
  min-width: 40rem;
  margin-bottom: 6rem;

  & img {
    width: 100%;
    height: auto;
  }

  &__caption {
    color: #686868;
    margin-top: 1.6rem;
  }
}