.article-intro {
  padding: 35rem 4.8rem 0;
  height: 83rem;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 83rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
      border-radius: 0 0 20rem 20rem;
    }
  }

  &__headline {
    width: 59rem;
    margin-bottom: 2.4rem;
  }

  @include respond(tab-land) {
    padding: 25rem 2.5rem 0;
    height: 65vh;

    &__background {
      height: 65vh;
    }

    &__headline {
      width: 100%;
      font-size: 2.5rem;
    }
  }

  @include respond(phone) {
    padding: 15rem 1.5rem 0;
    height: 50vh;

    &__background {
      height: 50vh;

      & img {
        border-radius: 0 0 10rem 10rem;
      }
    }

    &__headline {
      width: 100%;
      font-size: 2rem;
      margin-bottom: 1.2rem;
    }
  }
}