.article-overview {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 12rem;

  &__info {
    width: 60%;
  }

  &__contents {
    padding-top: 17rem;
    font-size: 3rem;
    color: #0041e8;
    list-style: none;
    text-decoration: underline;
    text-align: right;

    & li {
      margin-bottom: 1.4rem;
    }
  }

  &__headline {
    margin-bottom: 2.4rem;
  }

  @include respond(tab-land) {
    flex-direction: column;
    gap: 2rem;

    &__info {
      width: 100%;
    }

    &__contents {
      padding-top: 2rem;
      font-size: 2rem;
      text-align: left;
    }
  }

  @include respond(phone) {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 8rem;

    &__info {
      width: 100%;
    }

    &__contents {
      padding-top: 1rem;
      font-size: 1.5rem;
      text-align: left;

      & li {
        margin-bottom: 1rem;
      }
    }

    &__headline {
      margin-bottom: 1.5rem;
    }
  }
}