.blog-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10.5rem;
  margin-bottom: 12rem;
  padding: 0 4.8rem;

  &__headline {
    margin-bottom: 8rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6%;
    row-gap: 6rem;
    column-gap: 6rem;  // Desktop

    @include respond(phone) {
        flex-direction: column !important;
        gap: 3rem;
        width: 100%;
      }
  }

  &__item {
    &:nth-of-type(1) {
      width: 60.5%;
      width: 32.5%;  // Desktop

    @include respond(phone) {
      width: 100% !important;
      }
    }

    &:nth-of-type(2) {
      width: 33.5%;
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      width: 47%;
    }
  }

  &__image {
    height: 36rem;
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4rem;
    }
  }

  &__title {
    margin: 2.4rem 0 1rem;
  }
}