.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.8rem; // Desktop
  z-index: 10;
  gap: 2rem;
  /* Modern gap property for spacing */


  &__nav {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;

    & li:not(:last-of-type) {
      margin-right: 4.6rem;
    }
  }

  @include respond(tab-land) {
    padding: 1.5rem 2.5rem; // Tablet landscape

    nav li:not(:last-of-type) {
      margin-right: 3rem;
    }
  }

  @include respond(phone) {
    padding: 1rem 1.5rem; // Mobile - NO !important

    .logo {
      width: 4rem;
    }

    nav li:not(:last-of-type) {
      margin-right: 2rem;
    }
  }

  &--light {
    color: white;

    & .header__logo {
      filter: invert(99%) sepia(3%) saturate(825%) hue-rotate(200deg) brightness(118%)
    }

    &__logo {
      width: 5rem;
      margin-right: 2rem;
      /* Right margin pushes headline away */
    }


  }
}