.info {
  display: flex;
  justify-content: space-between;
  padding-right: 4.8rem;
  margin-top: 8rem;

  &--reversed {
    flex-direction: row-reverse;
    padding-left: 4.8rem;
    padding-right: 0;

    & .info__image {
      border-radius: 329px 0px 0px 329px;
    }
  }

  &__image,
  &__text {
    width: 48%;
  }

  &__image {
    border-radius: 0px 329px 329px 0px;
  }

  &__headline {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  & .btn {
    margin-top: 3rem;
  }

  @include respond(tab-land) {
    padding-right: 2.5rem;

    &--reversed {
      padding-left: 2.5rem;
      padding-right: 0;
    }
  }

  @include respond(phone) {
    flex-direction: column !important;
    padding-right: 1.5rem;
    padding-left: 0;
    margin-top: 4rem;

    &__image,
    &__text {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__image {
      border-radius: 0 !important;
    }

    &--reversed {
      flex-direction: column !important;
      padding-left: 1.5rem;
      padding-right: 0;
    }

    &__headline {
      margin-top: 1rem;
    }
  }
}